
.container {
    font-family: "inter";
    font-weight: 200;
    margin: auto;
    max-width: 90%;
    
}

.nav-elements {
    display: flex;
    
    align-items: center;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-left: 0;
}

.nav-link-item {
    padding: 1rem;
    
}


.nav-link-text {
    color: #495670;
    
    text-decoration: none;
    transition: font-style 1s;
       
}

.nav-link-text:hover {
    font-style: italic;
    color: #31DDAB;
} 



